.about-container{
    text-align: center;
    padding: 15rem 0rem;
    background-color: #FAF9F6;
    display: flex;
    align-items: center;
}


.workspace-icon{
    height: 21rem;
    width: 31rem;
    border-radius: 1.7rem;
}

.image-side{
    background-color: #FAF9F6;
    padding: 0 15rem 0 16rem;
}

.content-side{
    position: relative;
    bottom: 9.5rem;
    
}