.about-container {
  padding: 10rem 15rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.workspace-icon {
  height: 20rem;
  width: 30rem;
  border-radius: 1.7rem;
}

.content-side {
  width: 30rem;
}

.image-side {
  text-align: center;
}

.content-side h3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #1e90ff;
}

.content-side h4 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: black;
}

.content-side p {
  text-align: justify;
  font-size: 1em;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #373737;
}

@media (max-width: 1550px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .content-side h3,
  .content-side h4,
  .content-side p {
    text-align: center;
  }

  .content-side p {
    letter-spacing: 0;
  }

  .resume-btn {
    display: flex;
    justify-content: center;
  }
}
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #464850;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
}

.buttonDownload:hover {
  background-color: #1e90ff;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #cdefbd;
}

.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

@media (max-width: 460px) {
  .about-container {
    padding: 4rem 10rem 0 10rem;
  }
  .workspace-icon {
    height: 15rem;
    width: 21rem;
    border-radius: 1.7rem;
  }

  .content-side p {
    width: 100%;
    padding: 0 5rem;
  }

  .image-side {
    padding-bottom: 1rem;
  }
}
