.hero{
    height: 100vh;
}


.content-left{
    padding-right: 1rem;
    position: absolute;
    top: 40%;
    left: 25%;
    height: 17.4rem;
    width: 43rem;
}

.hero .content-right{
    position: relative;
    top: 35%;
    left: 62%;
}
.hero .content-left h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    font-weight: 500;
}

.ig{
    border-radius: 40px;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.my-icon{
    border-radius: 50% 90% 50% 83%;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
}


.p-hero{
    font-size: 1rem;
    font-weight: 400;
    margin-top: -20px;
    padding-bottom: 1.5rem;
}




@media screen and (max-width: 640px) { /* Responsive for smaller screens */
    .hero .content-left h1{
        font-size: 3rem;
    }
    
    .hero .content-left p{
        font-size: 1.4rem;
    }

}