.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: #fff;
}

.h1-nav {
  font-weight: 600;
  font-size: 30px;
  padding-left: 2rem;
  color: #464850;
}

.h1-nav:hover {
  color: #1e90ff;
}

ul {
  background-color: transparent;
}

.header-bg {
  transition: 0.5s;
  z-index: 1;
}

.nav-menu li a:hover,
.nav-menu li a:active {
  letter-spacing: 5px;
}

.nav-menu {
  display: flex;
  margin: 0;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu li a {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #464850;
}

.nav-menu li a:hover {
  color: #1e90ff;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    top: 0;
    left: -150%;
    z-index: -1;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu li a {
    font-size: 2rem;
  }

  .hamburger {
    display: initial;
  }
}
